* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: cursive;
    background: #4236eb;
    padding: 2rem;
}

body {
    max-width: 1500px;
    margin: 0 auto;
    background: white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Times, serif;
    color: #dd4d4d;
    margin: 1rem 0;
}

a {
    color: #de831a;
}

hr {
    border: none;
    border-top: 1px solid rgb(46, 221, 195);
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
}

.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.parallax {
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post > header > div:first-of-type {
    flex: auto;
}

.post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit],
input[type=file] {
    align-self: start;
    min-width: 10em;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.post .image {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.post .image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tag-list {
    width: 60rem;
    font-family: "Montserrat";
    position: relative;
    overflow: hidden;
}

.inner {
    width: fit-content;
    display: flex;
    gap: 1rem;
    animation: loop 5s linear infinite;
}

.tag {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    background-color: #334155;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.1rem 1.5rem #00000066;
}

.tag span {
    font-size: 1.2rem;
    color: #64748b;
}

.fade {
    position: absolute;
    background: linear-gradient(90deg, #1e293b, transparent 30%);
    inset: 0;
    pointer-events: none;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


