<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Flaskr</h1>
  <div class="tag-list">
    <div class="inner">
      <div class="tag">these</div> 
      <div class="tag">are</div> 
      <div class="tag">placeholders</div> 
      <div class="tag">for</div> 
      <div class="tag">adds</div> 
      <div class="tag">and</div> 
      <div class="tag">promotions</div> 
      <div class="tag">!</div>
      <div class="tag">!</div> 
    </div>
    <div class="fade"></div>
  </div>
  <div class="parallax"></div>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>